<%= provide :button_text, t("search") %>
<%= render "form_search" %>
<div class="words">
  <table class="container table table-striped tbl-words">
    <th><%= t ".word" %></th>
    <th><%= t ".meaning" %></th>
    <tbody class="word">
    </tbody>
  </table>
</div>
