@import "bootstrap-sprockets";
@import "bootstrap";

/* mixins, variables, etc. */

$gray-medium-light: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* typography */
h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

/* nav category */
#height150 {
  height: 350px
}
#edit-category {
  margin-right: 15%;
}
#category-all {
  width: 1000px;
  margin-top: 15px;
  height: 40px;
  padding-left: 45px;
}

#magginright {
  margin-right: 50px;
}

#left {
  float: left;
}
#right {
  #right {
    float: right;
  }
}

/* Word */

.product-word-all {
  width: 1000px;
  margin-top: 10px;
}

#edit-word {
  float: right;
}

#delete-word {
  float: right;
  padding-left: 20px;
}

.tbl-categories {
  margin-top: 100px;
  margin-left: 130px;
  width : 80%;
}

.tbl-categories td {
  width: 25%;
}

.tbl-categories tr th, td {
  text-align: center;
}

.txtSearch {
  width: 500px;
  float: left;
  margin-left: 300px;
}
.btn-search {
  width: 100px;
  margin-left: 50px;
  float:left;
}
