@import "bootstrap-sprockets";
@import "bootstrap";

/* mixins, variables, etc. */

$gray-medium-light: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* typography */
h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

/* forms */

input, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

/* nav category */
#height150 {
  height: 350px
}

#edit-category {
  margin-right: 15%;
}

#category-all {
  width: 1000px;
  margin-top: 15px;
  height: 40px;
  padding-left: 45px;
}

#magginright {
  margin-right: 50px;
}

#left {
  float: left;
}

#right {
  #right {
    float: right;
  }
}

/* Word */

.product-word-all {
  margin-top: 10px;
  font-size: 20px;
}

#edit-word {
  float: right;
}

#delete-word {
  float: right;
  padding-left: 20px;
}

.tbl-categories td {
  width: 25%;
}

.tbl-categories tr th, td {
  text-align: center;
}

.btn-search {
  width: 70px;
  margin-left: 10px;
  float: left;
}

.tbl-words {
  width: 30%;
  margin-top: 120px;
  margin-left: 200px;
  border: 1px solid lightgray;
}

.tbl-words td, th {
  text-align: center;
  border-collapse: collapse;
}

.answer {
  color: red;
}

.item-content {
  margin-top: 10px;
  label {
    margin-top: 5px;
    font-size: 20px;
    display: block;
  }
}

.result-item {
  margin-bottom: 3%;
}

.item-content input {
  width: 2%;
  margin-top: 5px;
}

.btn-primary-finish-lesson {
  width: 10%;
}

#lesson-countdown {
  background: silver;
  float: right;
  padding: 15px;
  font-weight: 800;
  font-size: 50px;
  box-shadow: inset 0 0 10px #000000;
  position: fixed;
  right: 10%;
  top: 11%
}

#lesson-progress {
  background: silver;
  padding: 15px;
  font-weight: 800;
  font-size: 29px;
  box-shadow: inset 0 0 10px #000000;
  position: fixed;
  right: 10%;
  top: 34%;
  text-align: center;
}

.item-header {
  font-size: 35px;
  font-weight: 700;
}

.finish-lesson {
  width: 20%;
}

.glyphicon-ok {
  color: green;
}

.glyphicon-remove {
  color: red;
}

.users {
  margin-top: 20px;
}

.user-item-detail {
  float: left;
}

.div-user {
  margin-top: 15px;
  text-align: center;
  font-size: 15px;
}

.navbar {
  margin-bottom: 1px;
}

#logo {
  float: left;
}

.user-profile {
  text-align: center;
  margin-top: 21px;
  padding: 15px;
  background-color: rgba(255, 255, 255, 0.7);
  border: 1px solid rgba(192, 192, 192, 0.61);
}

.navbar-inverse {
  background-color: #00897B;
  border-color: #00897B;
}

.navbar-inverse .navbar-nav > li > a {
  color: white;
  font-size: 15px;
  font-weight: 600;
}

.div-following {
  float: left;
  padding-left: 22%;
}

.theme {
  width: 100%
}

.side-menu {
  margin-top: 20px;
  li {
    width: 100%;
    border: 1px solid #e0e0e0;
  }
}

.content {
  margin-top: 21px;
}

.show-category {
  margin-top: 20px;
}

body {
  background-color: #e9ebee;
}

