<header class="navbar navbar-inverse">
  <div class="container">
    <nav>
      <%= link_to image_tag("http://recruit.framgia.vn/wp-content/themes"+
        +"/framgia-vn/css/images/logo/framgia-logo.png"),
        root_path, id: "logo" %>
      <ul class="nav navbar-nav navbar-right">
        <% if logged_in? %>
          <% if current_user.is_admin? %>
            <%= render "layouts/admin_header" %>
          <% else %>
            <%= render "layouts/user_header" %>
          <% end %>
        <% else %>
          <%= render "layouts/guess_header" %>
        <% end %>
      </ul>
    </nav>
  </div>
</header>
